<!DOCTYPE html>
<html>
    <%- include('./partials/header', {title: 'Birds'}); %>

    <body>
        <h1>You've reached the Birds Page</h1>
        
        <br>

        <a href="/birds/create" class="btn btn-primary">+ Create</a>

        <% include ./partials/scripts %>
    </body>
</html>