<!DOCTYPE html>
<html>
    <%- include('./partials/header', {title: 'Birds'}); %>

    <body>
        <h1>Bird Successfully Created</h1>
        
        <br>

        <a href="/birds" class="btn btn-primary">Back to Birds Home</a>

        <% include ./partials/scripts %>
    </body>
</html>